<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http auto-config="true" use-expressions="true">
            <intercept-url pattern="/Index.cqfdp" access="hasAnyRole('ROLE_SECRETARIA', 'ROLE_TESORERA')" />
            <intercept-url pattern="/Distritos.cqfdp" access="hasRole('ROLE_SECRETARIA')" />
            <intercept-url pattern="/Provincia.cqfdp" access="hasRole('ROLE_SECRETARIA')" />
            <intercept-url pattern="/Departamento.cqfdp" access="hasRole('ROLE_SECRETARIA')" />
            <intercept-url pattern="/EstadoCivil.cqfdp" access="hasRole('ROLE_SECRETARIA')" />
            <intercept-url pattern="/CondicionCasa.cqfdp" access="hasRole('ROLE_SECRETARIA')" />
            <intercept-url pattern="/Operadora.cqfdp" access="hasRole('ROLE_SECRETARIA')" />
            <intercept-url pattern="/TipoEquipo.cqfdp" access="hasRole('ROLE_SECRETARIA')" />
            <intercept-url pattern="/SolicitudEgresoColegiatura.cqfdp" access="hasRole('ROLE_SECRETARIA')" />
            <intercept-url pattern="/PreInscripcion.cqfdp" access="hasRole('ROLE_SECRETARIA')" />
            <intercept-url pattern="/InscripcionIngresoColegiatura.cqfdp" access="hasRole('ROLE_SECRETARIA')" />
            <intercept-url pattern="/ActualizaDatosColegiatura.cqfdp" access="hasRole('ROLE_TESORERA')" />
            <intercept-url pattern="/EgresoColegiatura.cqfdp" access="hasRole('ROLE_TESORERA')" />
            <form-login 
                username-parameter="txtNumColegiatura" 
                password-parameter="txtContrasenna"
                default-target-url="/Index.cqfdp"  
                login-page="/login.cqfdp" 
                authentication-failure-url="/login.cqfdp?error"/>
            <logout logout-success-url="/login.cqfdp?logout"/>
	</http>
        
        <!--<beans:import resource="springmvc-servlet.xml"></beans:import>-->
	<authentication-manager>
            <authentication-provider ref="authenticationProvider">
            <!--<password-encoder ref="encoder"></password-encoder>-->  
<!--	    <user-service>
		<user name="tesorera" password="$2a$12$.hPgh3knzmEiiA5L0ap8u.0zkW4or5uCIoH4BRwB.LKEaoIggnUyS" authorities="ROLE_TESORERA"/>
                <user name="secretaria" password="$2a$12$8tsm9aAG0xuncgD3znNjqOFCxZ/EODER6sUqCUdaDMDDpV.xumDLm" authorities="ROLE_SECRETARIA"/>
	    </user-service>-->
            
            </authentication-provider>
	</authentication-manager>

</beans:beans>
